.App {
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
}

.App-header {
  text-align: center;
  background-color: #222;
  height: 70px;
  padding: 4px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}